[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/magit/magit.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/magcius/auto-complete.git
[submodule "vendor/popup-el"]
	path = vendor/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
